.banner {
  position: relative;
  width: 100%;
  height: 110px;
  display: flex;
  background-image: url(../img/banner-img.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.banner__decsription {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.45;
  text-transform: uppercase;
}
.banner__sale {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 236px;
  background-image: url(../img/banner-left-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-family: 'HeliosCond', sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.09;
  text-transform: uppercase;
}
.banner__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 249px;
  background-image: url(../img/banner-right-bg.svg);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.09;
  text-align: center;
}
.banner__text span {
  max-width: 179px;
}

@media (max-width: 1180px) {
  .banner {
    height: 90px;
  }
  .banner__decsription {
    max-width: 410px;
    font-size: 16px;
  }
  .banner__sale {
    padding-left: 32px;
    font-size: 38px;
  }
  .banner__text {
    width: 195px;
    padding-right: 5px;
    font-size: 16px;
  }
  .banner__text span {
    max-width: 160px;
  }
}
@media (max-width: 844px) {
  .banner {
    height: 70px;
    overflow: hidden;
  }
  .banner__sale {
    width: 170px;
    font-size: 28px;
    left: -20px;
  }
  .banner__decsription {
    max-width: 340px;
    font-size: 12px;
  }
  .banner__text {
    width: 150px;
    font-size: 12px;
  }
  .banner__text span {
    max-width: 110px;
  }
}
@media (max-width: 654px) {
  .banner {
    position: static;
    flex-direction: column;
    height: auto;
    background: linear-gradient(180deg, rgba(20, 20, 27, 0.60) 0%, rgba(217, 217, 217, 0.00) 49.26%, rgba(20, 20, 27, 0.60) 100%) url(../img/banner-img.jpg);
  }
  .banner__sale {
    position: static;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: auto;
    justify-content: center;
    /* background: linear-gradient(180deg, #910A2D 0%, #B21940 100%); */
    background: transparent;
    letter-spacing: 1.3px;
  }
  .banner__decsription {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 80%;
    font-size: 14px;
  }
  .banner__text {
    position: static;
    margin: 0 auto;
    padding: 5px 0;
    justify-content: center;
    width: 100%;
    height: auto;
    background: transparent;
    /* background-color: #14141B; */
    font-size: 14px;
    line-height: 2;
  }
  .banner__text span {
    max-width: unset;
  }
}