.call {
  position: relative;
  padding: 46px 0 82px;
  background-image: url(../img/call-bg.jpg);
  background-position: center 24%;
  background-size: cover;
  color: #fff;
}
.call::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.call__container {
  position: relative;
  z-index: 1;
}
.call__title {
  margin-bottom: 5px;
}
.call__text {
  margin-bottom: 34px;
  text-align: center;
  line-height: 1.69;
}
.call__form {
  max-width: 810px;
  margin: 0 auto;
  padding: 22px 38px;
  display: flex;
  gap: 15px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background-color: rgba(255, 255, 255, 0.28);
}
.call__fieldset {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}
.call__input {
  max-width: 274px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 16px;
  line-height: 1.375;
  color: #101015;
}
.call__input:focus {
  outline: none;
  border-color: #910A2D;
  box-shadow: 0 0 20px #910A2D40;
}
.call__submit:hover,
.call__submit:focus {
  background-color: #910A2D;
}

@media (max-width: 1023px) {
  .call {
    padding: 40px 0 60px;
  }
}

@media (max-width: 736px) {
  .call {
    padding: 30px 0 40px;
  }
  .call__text {
    margin-bottom: 24px;
  }
  .call__form {
    padding: 20px;
    gap: 10px;
  }
  .call__fieldset {
    gap: 10px;
  }
  .call__input {
    padding: 10px;
  }
}

@media (max-width: 567px) {
  .call__form {
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .call__fieldset {
    flex-wrap: wrap;
  }
  .call__input {
    max-width: 100%;
  }
  .call__submit {
    padding: 13px 30px;
  }
}

@media (max-width: 375px) {
  .call__submit {
    width: 100%;
  }

}