@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCond-Bold.woff2') format('woff2'),
      url('HeliosCond-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mazda Type Cyrillic';
  src: local('Mazda Type Cyrillic Regular'), local('MazdaTypeCyrillic-Regular'),
      url('../fonts/MazdaTypeCyrillic-Regular.woff2') format('woff2'),
      url('../fonts/MazdaTypeCyrillic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mazda Type Cyrillic';
  src: local('Mazda Type Cyrillic Bold'), local('MazdaTypeCyrillic-Bold'),
      url('../fonts/MazdaTypeCyrillic-Bold.woff2') format('woff2'),
      url('../fonts/MazdaTypeCyrillic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}