.footer {
	margin-top: auto;
	padding-top: 50px;
	background-color: #14141B;
	color: #fff;
}
.footer__container {
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: max-content 544px 310px;
	gap: 30px;
	justify-content: space-between;
}
.footer__col {
	font-size: 15px;
}
.footer__nav-link {
	font-weight: 700;
	line-height: 2.95;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}
.footer__title {
	margin-bottom: 15px;
	padding-bottom: 14px;
	border-bottom: 1px solid rgba(208, 208, 208, 0.29);
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}
.footer__title--contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.footer__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4px 30px;
	line-height: 1.8;
	color: #8E8E8E;
}
.footer__link:hover,
.footer__link:focus {
	opacity: 0.6;
}
.footer__social {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__address {
	margin-bottom: 6px;
	line-height: 1.7;
	color: #8E8E8E;
}
.footer__email {
	margin-bottom: 22px;
	display: block;
	font-weight: 700;
	line-height: 2.48;
}
.footer__send {
	padding: 6px 20px;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	background-color: transparent;
	font-size: 13px;
	font-weight: 700;
	line-height: 2.48;
	letter-spacing: 1.365px;
	text-transform: uppercase;
}
.footer__copyright {
	padding: 24px 0 26px;
	border-top: 1px solid rgba(208, 208, 208, 0.29);
}
.footer__copyright-text {
	font-size: 14px;
	line-height: 1.69;
	color: #8D8D8D;
	text-align: center;
}

@media (max-width: 1099px) {
	.footer__container {
		margin-bottom: 60px;
		grid-template-columns: max-content 500px 250px;
	}
	.footer__list {
		gap: 4px 10px;
	}
	.footer__copyright {
		padding: 18px 0;
	}
}

@media (max-width: 985px) {
  .footer {
    padding-top: 40px;
  }
	.footer__container {
		margin-bottom: 50px;
		grid-template-columns: max-content 432px 220px;
	}
	.footer__col {
		font-size: 13px;
	}
	.footer__send {
		font-size: 12px;
	}
}

@media (max-width: 872px) {
	.footer__container {
		margin-bottom: 40px;
		grid-template-columns: 1fr;
	}
	.footer__nav {
		display: flex;
		gap: 20px;
	}
}
@media (max-width: 573px) {
	.footer__nav {
		flex-direction: column;
		gap: 10px;
	}
	.footer__nav-link {
		line-height: 1.95;
	}
	.footer__list {
		grid-template-columns: 1fr;
	}
}