.header__top {
  padding: 13px 0;
  background-color: #14141B;
  color: #fff;
}
.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  width: 169px;
  height: auto;
}
.header__phone {
  flex-shrink: 0;
  font-weight: 700;
}
.header__btn {
  width: 208px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.30);
  font-size: 12px;
  font-weight: 700;
  line-height: 248.2%; /* 29.784px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__address {
  max-width: 349px;
  font-size: 15px;
  line-height: 1.45;
  color: #B6B6B6;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.30);
}
.header__link:hover,
.header__link:focus {
  opacity: 0.6;
}
.icons__link--phone,
.icons__link--location {
  display: none;
}
.icons__svg--wa {
  width: 20px;
  height: 20px;
}
.icons__svg--tg {
  width: 20px;
  height: 18px;
}
.icons__svg--phone {
  width: 20px;
  height: 20px;
}
.icons__svg--location {
  width: 24px;
  height: 26px;
}

.header__nav {
  padding: 21px 0;
  background-color: #fff;
}
.nav .header__icons {
  display: none;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.68px;
  color: #3C3C3C;
  text-transform: uppercase;
}
.nav__link {
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}
.nav__link:hover {
  color: #910A2D;
}
.nav__link--active {
  padding-bottom: 1px;
  border-bottom: 2px solid #910A2D;
  cursor: default;
  pointer-events: none;
  color: inherit;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 2px solid rgba(255, 255, 255, 0.30);
  flex-shrink: 0;
}
.burger__line,
.burger::after,
.burger::before {
  position: absolute;
  right: 8px;
  width: calc(100% - 16px);
  height: 2px;
  background-color: #fff;
}
.burger__line {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.1s ease;
}
.burger::after,
.burger::before {
  content: '';
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}
.burger::before {
  top: 10px;
}
.burger::after {
  bottom: 8px;
  transform: translateY(-100%);
}
.burger.burger--active .burger__line {
  opacity: 0;
}
.burger.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
}


@media (max-width: 1180px) {
  .header__top {
    position: relative;
    z-index: 10;
  }
  .header__phone, .header__address {
    display: none;
  }
  .header__nav {
    padding: 16px 0;
  }
  .icons__link--phone,
  .icons__link--location {
    display: flex;
  }
}
@media (max-width: 780px) {
  .header__logo {
    margin-right: auto;
  }
  .header__btn {
    display: none;
  }
  .burger {
    display: flex;
  }
  .nav {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    min-height: 240px;
    transform: translateY(calc(-100% - 60px));
    transition: transform 0.5s ease-out;
  }
  .nav__list {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .nav.nav--active {
    transform: translateY(0);
  }
}
@media (max-width: 567px) {
  .header__icons {
    display: none;
  }
  .nav .header__icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .nav .header__top-link {
    border: 2px solid rgba(138, 138, 138, 0.3);
  }
}