.hero-page {
  padding: 67px 0 87px;
  min-height: 290px;
  background-color: #14141B;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.hero-page--service {
  background-image: url(../img/hero-service.jpg);
}
.hero-page--car {
  background-image: url(../img/hero-car.jpg);
}
.hero-page__container {
  text-align: center;
}
.hero-page__title {
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.breadcrumbs {
  margin-bottom: 17px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.48;
}
.breadcrumbs__link:hover {
  opacity: 0.5;
}
.breadcrumbs__text {
  color: #BABABA;
  text-align: left;
}

@media (max-width: 1023px) {
  .hero-page {
    padding: 40px 0 60px;
    min-height: 220px;
  }
  .hero-page__title {
    margin-bottom: 10px;
    font-size: 32px;
  }
}
@media (max-width: 699px) {
  .hero-page {
    padding: 30px 0;
    min-height: 200px;
  }
  .hero-page__title {
    font-size: 28px;
  }
}
@media (max-width: 479px) {
  .hero-page {
    min-height: 200px;
  }
  .hero-page__title {
    font-size: 26px;
  }
}
@media (max-width: 359px) {
  .hero-page {
    padding: 20px 0;
  }
  .hero-page__title {
    font-size: 22px;
  }
}