.hero {
  width: 100%;
  height: 500px;
  color: #fff;
  position: relative;
}
.hero__content {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding-top: 63px;
}
.hero__title {
  margin-bottom: 10px;
  max-width: 340px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.hero__title-name {
  display: block;
  font-size: 50px;
  letter-spacing: 3px;
}
.hero__text {
  max-width: 340px;
  font-weight: 700;
  line-height: 1.5;
}

@media (max-width: 1023px) {
  .hero {
    height: 350px;
  }
  .hero__content {
    padding-top: 40px;
  }
  .hero__title {
    font-size: 19px;
  }
  .hero__title-name {
    font-size: 44px;
  }
}

@media (max-width: 720px) {
  .hero {
    height: 300px;
  }
  .hero__title {
    font-size: 19px;
  }
  .hero__title-name {
    font-size: 44px;
  }
}
@media (max-width: 567px) {
  .hero {
    height: 260px;
  }
  .hero__content {
    padding-top: 30px;
  }
  .hero__title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .hero__title-name {
    font-size: 40px;
  }
  .hero__text {
    max-width: 300px;
    font-size: 14px;
  }
}
@media (max-width: 428px) {
  .hero {
    height: 200px;
  }
  .hero__content {
    padding-top: 20px;
  }
  .hero__title {
    margin-bottom: 0;
    font-size: 14px;
  }
  .hero__title-name {
    font-size: 36px;
  }
  .hero__text {
    max-width: 290px;
    font-size: 14px;
  }
}