.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  z-index: 999;
  display: none;
}
.modal__main {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  height: fit-content;
  padding: 30px 40px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background-color: rgba(255, 255, 255, 0.28);
  cursor: default;
}
.modal__title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
.modal__text {
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__fieldset > * + * {
  margin-top: 20px;
}
.modal__input,
.modal__textarea {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 16px;
  line-height: 1.375;
  color: #101015;
}
.modal__textarea {
  height: 130px;
  resize: none;
}
.modal__input:focus,
.modal__textarea:focus {
  outline: none;
  border-color: #910A2D;
  box-shadow: 0 0 20px #910A2D40;
}
.modal__submit:hover,
.modal__submit:focus {
  background-color: #910A2D;
}
.modal__submit {
  align-self: center;
}
.modal__close {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: .3s ease-in-out;
  font-size: 22px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.modal__close:hover {
  color: #910A2D;
}
button.modal__close:focus-visible {
  outline-color: #910A2D;
}
@media (max-width: 567px) {
  .modal__main {
    max-width: 390px;
    padding: 30px;
  }
  .modal__title {
    font-size: 26px;
  }
  .modal__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .modal__input, .modal__textarea {
    padding: 8px 10px;
  }
}
@media (max-width: 428px) {
  .modal__main {
    padding: 40px 20px 30px;
  }
  .modal__title {
    font-size: 22px;
  }
}