.request {
  background-color: #F5F5F5;
  display: flex;
}
.request__left {
  position: relative;
  flex-shrink: 0;
  max-width: 586px;
}
.request__left::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 11px;
  bottom: 11px;
  left: 13px;
  right: 13px;
  border: 1px solid rgba(255, 255, 255, 0.51);
}
.request__left::after {
  content: '';
  position: absolute;
  top: -25px;
  right: -25px;
  z-index: 2;
  width: 59px;
  height: 59px;
  background-color: #910A2D;
  border: 4px solid #F5F5F5;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 22C10.7348 22 10.4804 21.8946 10.2929 21.7071C10.1054 21.5196 10 21.2652 10 21V18H6C5.46957 18 4.96086 17.7893 4.58579 17.4142C4.21071 17.0391 4 16.5304 4 16V6C4 5.46957 4.21071 4.96086 4.58579 4.58579C4.96086 4.21071 5.46957 4 6 4H20C20.5304 4 21.0391 4.21071 21.4142 4.58579C21.7893 4.96086 22 5.46957 22 6V16C22 16.5304 21.7893 17.0391 21.4142 17.4142C21.0391 17.7893 20.5304 18 20 18H15.9L12.2 21.71C12 21.89 11.76 22 11.5 22H11ZM12 16V19.08L15.08 16H20V6H6V16H12ZM2 14H0V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H18V2H2V14ZM8 8H18V10H8V8ZM8 12H16V14H8V12Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}
.request__img {
  width: 100%;
  height: auto;
}
.request__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.request__content-title {
  margin-bottom: 14px;
  font-size: 28px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.request__content-subtitle {
  max-width: 455px;
  font-size: 20px;
}
.request__form-wrap {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}
.request__form {
  margin: auto;
  max-width: 388px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request__input {
  max-width: 584px;
  width: 100%;
  height: 50px;
  padding: 0 19px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #DDD;
  font-size: 16px;
  color: #4F4F4F;
}
.request__input + .request__input {
  margin-top: 14px;
}
.request__submit {
  margin-top: 27px;
  max-width: 146px;
}
.request__input:focus {
  outline: none;
  border-color: #910A2D;
  box-shadow: 0 0 20px #910A2D40;
}
.request__submit:hover,
.request__submit:focus {
  background-color: #910A2D;
}

@media (max-width: 1023px) {
  .request__left {
    max-width: 470px;
  }
  .request__content-title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .request__content-subtitle {
    max-width: 370px;
    font-size: 16px;
  }
  .request__left::after {
    top: -20px;
    right: -20px;
    width: 50px;
    height: 50px;
    background-size: 18px;
  }
}
@media (max-width: 767px) {
  .request {
    flex-direction: column;
  }
  .request__left {
    max-width: 100%;
  }
}
@media (max-width: 567px) {
  .request__left::before {
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
  }
  .request__left::after {
    display: none;
  }
  .request__input {
    height: 44px;
  }
}
@media (max-width: 479px) {
  .request__content-title {
    margin-bottom: 0;
    font-size: 22px;
  }
  .request__content-subtitle {
    max-width: 290px;
  }
}