.slider {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #313131;
  overflow: hidden;
}
.slider::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #14141B 0%, rgba(20, 20, 27, 0.00) 50%);
}
.slider__wrapper,
.slider__items,
.slider__img {
  width: 100%;
  height: 100%;
}
.slider__wrapper {
  position: relative;
  overflow: hidden;
}
.slider__items {
  display: flex;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  will-change: transform;
}
.slider__item {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform;
}
.slider__img {
  object-fit: cover;
  object-position: center;
}
.slider__btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.47);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.slider__btn svg {
  pointer-events: none;
  user-select: none;
}
.slider__btn--hide {
  display: none;
}
.slider__btn:hover,
.slider__btn:focus {
  background-color: rgba(0, 0, 0, 1);
}
.slider__btn--prev {
  left: 10px;
}
.slider__btn--next {
  right: 10px;
}
.slider__indicators {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 55px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 22px;
  padding-left: 0;
  user-select: none;
}
.slider__indicator {
  flex: 0 1 auto;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  position: relative;
}
.slider__indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.slider__indicator--active {
  border: 1px solid #C4C4C4;
}

@media (max-width: 1180px) {
  .slider__btn {
    top: unset;
    transform: unset;
    width: 56px;
    height: 56px;
    bottom: 20px;
  }
}
@media (max-width: 720px) {
  .slider__btn {
    width: 46px;
    height: 46px;
  }
  .slider__indicators {
    bottom: 35px;
  }
}
@media (max-width: 567px) {
  .slider__btn {
    width: 36px;
    height: 36px;
  }
  .slider__indicators {
    bottom: 28px;
  }
}