html {
  box-sizing: border-box;
  min-height: 100vh;
	scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Mazda Type Cyrillic', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: #101015;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body > * {
	flex-shrink: 0;
}
img, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
a, button {
  transition: 0.3s;
  outline: none;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
label {
  cursor: pointer;
}
input {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
.visually-hidden {
  transform: scale(0);
}
.container {
  --container-width: 1170px;
  --container-padding: 30px;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.section-color {
  background-color: #F5F5F5;
}
.title-border {
  padding-bottom: 28px;
  position: relative;
}
.title-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 76px;
  height: 3px;
  background-color: #910A2D;
}
.text-center {
  text-align: center;
}
.text-border-left {
  padding: 22px 37px;
  background-color: #F5F5F5;
  border-left: 3px solid #910A2D;
  font-weight: 700;
  line-height: 1.55;
  color: #000;
}
.text-bordered {
  padding: 24px 44px 32px;
  background-color: #fff;
  border: 3px solid #910A2D;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
  height: 44px;
  border-radius: 3px;
  background: #14141B;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1.365px;
  text-transform: uppercase;
}
.none {
  display: none;
}

@media (max-width: 1023px) {
  body {
    font-size: 16px;
  }
  .title-border {
    padding-bottom: 18px;
  }
  .h2 {
    font-size: 24px;
    line-height: 1.28;
  }
}
@media (max-width: 567px) {
  body {
    font-size: 14px;
  }
  .container {
    --container-padding: 20px;
  }
  .title-border {
    padding-bottom: 12px;
  }
  .h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  .btn {
    padding: 13px 30px;
  }
  .text-border-left,
  .text-bordered {
    padding: 15px 20px;
  }
}
@media (max-width: 390px) {
  .h2 {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .btn {
    width: 100%;
  }
}