.table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border: none;
}
.table__head th {
  border-bottom: 1px solid #D8D8D8;
}
.table__head-item {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: left;
}
.table__row-item {
  height: auto;
  color: #313131;
  line-height: 1.35;
  border-bottom: 1px dashed #939393;
}
.table__head-item--left,
.table__row-item--left {
  padding: 14px 10px 14px 37px;
}
.table__head-item--right,
.table__row-item--right {
  padding: 14px 37px 14px 10px;
}
.table__row:last-child .table__row-item {
  border-bottom: none;
}

@media (max-width: 1179px) {
  .table__head-item--left,
  .table__row-item--left {
    padding: 10px 10px 10px 20px;
    width: fit-content;
  }
  .table__head-item--right,
  .table__row-item--right {
    padding: 10px 20px 10px 10px;
  }
  .table__head-item {
    font-size: 14px;
    white-space: nowrap;
  }
  .table__row-item {
    font-size: 14px;
  }
}
@media (max-width: 428px) {
  .table__head-item {
    font-size: 12px;
  }
  .table__head-item--left,
  .table__row-item--left {
    padding: 10px;
    width: fit-content;
  }
  .table__head-item--right,
  .table__row-item--right {
    padding: 10px;
  }
}